<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.min.css">
</head>
<body>
<h1 class="text-center text-danger"> Add Music</h1>
<div class="container">
    <form action="/create" th:object="${musicDto}" method="post">
        <div>
            <label class="form-label">Name Of Song :</label>
            <input class="form-control" type="text" th:field="*{nameOfSong}"/>
        </div>
        <div class="mb-4 text-danger" th:errors="*{nameOfSong}">
        </div>
        <div>
            <label class="form-label">Performing Artist :</label>
            <input class="form-control" type="text" th:field="*{performingArtist}"/>
        </div>
        <div class="mb-4 text-danger" th:errors="*{performingArtist}">
        </div>
        <div>
            <label class="form-label">Kind Of Music :</label>
            <input class="form-control" type="text" th:field="*{kindOfMusic}"/>
        </div>
        <div class="mb-4 text-danger" th:errors="*{kindOfMusic}">
        </div>

        <div><input type="submit" value="Save" class="m-3 btn btn-danger"></div>
    </form>
</div>
<script src="/style/bootstrap/bootstrap.min.js"></script>
</body>
</html>