<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay</title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.min.css">
</head>
<body>
<h1 class="text-center text-danger"> Pay Book</h1>
<div class="container">
    <form action="/pay"  method="post">
        <div>
            <label class="form-label">ID :</label>
            <input class="form-control"  type="text" name = "id" />
        </div>
        <div><input class="m-3 btn btn-danger" type="submit" value="Pay"></div>
    </form>
</div>
<script src="/style/bootstrap/bootstrap.min.js"></script>
</body>
</html>